{% extends 'profile/baseprofile.html' %}


{% block proinfo %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit info Page</title>
</head>
<style>
label {
    margin-bottom: 5px;
    color: #666;
    text-align: left;
    font-weight: bold;
}

input,select,textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
    width: 100%;
}
input:focus, select:focus, textarea:focus {
    border-color: #007bff;
    outline: none;
}
</style>

<body>
    <div class="container" style="width: 500px; margin: 0 auto;">
        <h1>Edit info Page</h1>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form1.as_p}}
        {{form2.as_p}}
        {{form3.as_p}}
        <input type="submit" value="Update">
    </form>
</div>
</body>
</html>
{% endblock proinfo %}
    