{% extends 'profile/baseprofile.html' %}


{% block proinfo %}
<table border="2px">
    <tr>
        <th>Created by</th>
        <th>Title</th>
        <th>Number of openings</th>
        <th>Category</th>
        <th>Job Description</th>
        <th>Skill Sets</th>
        <th>Action</th>
    </tr>
    
    {% for i in jobs %}
        
    <tr>
        <td>{{i.created_by}}</td>
        <td>{{i.Job_title}}</td>
        <td>{{i.Number_of_openings}}</td>
        <td>{{i.Category}}</td>
        <td>{{i.Job_description}}</td>
        <td>{{i.Skills}}</td>
        <td>
            <a href="{% url 'applicants' i.id %}">Applicants</a>
            <a href="{% url 'editjob' i.id %}">Edit</a>
            <a href="{% url 'deletejob' i.id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
        
</table>
{% endblock proinfo %}