
{% extends 'profile/baseprofile.html' %}

{% block proinfo %}
<style>
    label {
        margin-bottom: 5px;
        color: #666;
        text-align: left;
        font-weight: bold;
    }
    
    input,select,textarea {
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    input:focus, select:focus, textarea:focus {
        border-color: #007bff;
        outline: none;
    }
</style>
<div class="container" style="width: 500px; margin: 0 auto;">
    <h1>Change Password</h1>
<form action="" method="POST">
    {% csrf_token %}
    <label for="">Old Password</label> <br>
    <input type="text" name="old_password"><br>
    <label for="">New Password</label><br>
    <input type="text" name="new_password"><br>
    <label for="">New Confirm Password</label><br>
    <input type="text" name="new_confirm_password"><br>
    <input type="submit" value="Change Password">
</form>
</div>
{% endblock proinfo %}